/* #quick-access-list li {
    cursor: pointer;
} */

#popup-container {
    padding: 16px;
}

.quick-access-list {
    margin: 0;
    padding: 0;
}

.quick-access-list li {
    display: grid;
    grid-template-columns: 16px auto 16px;
    justify-content: stretch;
    align-items: center;
    column-gap: 16px;
    padding: 4px 8px;
} 

.quick-access-list li span * {
    vertical-align: middle;
}

/* #quick-access-list li span:first-child { } */

.quick-access-list li span:first-child img {
    width: 16px;
    height: 16px;
}

.quick-access-list li span:nth-child(2) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.quick-access-list li span:last-child {
    justify-items: right;
}

#actions {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 16px;
    justify-content: stretch;
}

#actions-primary {
    text-align: right;
}

#actions-primary > button:not(:last-child) {
    margin-right: 8px !important;
}

#actions-secondary > button:not(:first-child) {
    margin-left: 8px !important;
}

.button-remove-item {
    min-width: auto;
    min-height: auto;
    height: 16px;
    width: 16px;
    padding: 0;
}