@use "@material/theme" with (
    $primary: #f59200,
    $background: #ffd79b,
    $secondary: #cccccc
);

@use "@material/list";
@use "@material/list/mdc-list";
@use "@material/button/styles";

.active-tab {
    background-color: theme.$background;
}
