@use "@material/theme" with (
    $primary: #f59200,
    $secondary: #bbbbbb,
    $background: #ffd79b,
    $surface: #eeeeee,
    $on-primary: #000000,
    $on-secondary: #666666,
    $on-surface: #666666
);

@use "@material/list";
@use "@material/list/mdc-list";
@use "@material/button/styles";

.active-tab {
    background-color: theme.$background;
}

.mdc-button.mdc-button--secondary {
    color: theme.$on-secondary
}
